<div class="d-flex align-items-center bg-primary p-3 mb-3 rounded shadow-sm">
	<div class="lh-1">
		<h1 class="mb-0 lh-1">Willkommen</h1>
	</div>
</div>
<p>
Herzlich willkommen in der Campus-Bücherei 📚.
Hier kannst du Bücher, die du verleihen möchtest, anderen zur Verfügung stellen.
</p>
<h3>Buch zum Ausleihen bereit stellen</h3>
<p>
Zum Bereitstellen eines Buches musst du nur den Titel des Buches und eine kurze Beschreibung eintragen.
Außerdem musst du deinen Namen und eine Möglichkeit, dich zu kontaktieren, eintragen, damit derjenige,
der dein Buch ausleihen will, weiß, an wen er sich wenden muss und dich erreichen kann.
</p>
<h3>Buch ausleihen</h3>
<p>
Wenn du ein Buch ausleihen möchtest, kannst du in der Bücherliste auf "Infos" bei dem jeweiligen Buch
drücken und die Person, die sich dort als Besitzer eingetragen hat, kontaktieren.
</p>