<div class="d-flex align-items-center bg-primary p-3 my-3 rounded shadow-sm">
	<div class="lh-1">
		<h1 class="mb-0 lh-1">Willkommen</h1>
	</div>
</div>

<!--
<h1><%= gettext "Welcome to my %{name}!", name: "Phoenix" %></h1>
<p>Jetzt kanns losgehen!</p>
<a href="/posts">posts</a>
-->

Herzlich willkommen in der Campus-Bücherei 📚. Hier kannst du Bücher, die du verleihen möchtest, anderen zur Verfügung stellen.
